<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Dashboard</title>
</head>
<body>
    <div class="login-form">
        <h3>This is the secret dashboard page.</h3>
        <h4>You shouldn't be able to see this page unless you are logged in.</h4>
        <form action="/logout" method="POST">
            <button>Log Out</button>
        </form>
    </div>
</body>
</html>