<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aunthentication With Sessions and Cookies | Home</title>
</head>
<body>
    <div class="login-form">
        <h2>Authentication With Sessions and Cookies - This is the home page.</h2>
        <a href="/login"><button>Log In</button></a>
        <a href="/register"><button>Register</button></a>
    </div>
</body>
</html>