.container {
    width: 800px;
    margin: 16px auto;
    text-align: center;
}
.progress-bar-container {
    width: 800px;
    height: 40px;
    background-color: rgb(195, 222, 231);
    margin: 16px 0;
    position: relative;
}
.progress-bar-fill {
    width: 0;
    height: 100%;
    background-color:rgb(64, 152, 224);
    /* position: relative; */
}

p {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}